python-dotenv
openai
groq
cohere
google-generativeai

sentence-transformers
transformers
torch
accelerate
sentencepiece
faiss-cpu
numpy

pandas
openpyxl

reportlab

gradio

tavily-python
newspaper3k
lxml_html_clean
